.button {
    position: relative;
    margin: 10px 0 60px 0;
    border: 0;
    padding: 15px 30px 15px 30px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(180deg, $colour-secondary 0%, $colour-primary 100%);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        border-radius: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, lighten( $colour-secondary, 5% ) 0%, lighten( $colour-primary, 5% ) 100%);;
        opacity: 0;
        z-index: -1;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
        transition: opacity 250ms;
    }
}

.button_wider{
    padding: 15px 50px;
}



.fullheart{ 
    background: linear-gradient(180deg, $colour-secondary 0%, $colour-primary 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transition-duration: 0.5s;
    }
    
.emptyheart{
    position: absolute;
    right: 15px;
    z-index: 1;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover + .fullheart{
        opacity: 1;
    }
    &:hover{
        opacity: 0;
    }
}