.Loca{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;

    &_icon{
        font-size: 20px;
        padding-right: 15px;
        padding-bottom: 8px;

    }
    p{
        font-weight: 600;
        font-size: 20px;
    }
}

.Res{
    background-color: #fafafa;
    text-align: center;
    h2{
        padding: 35px 50px 0 50px;
    }
    p{
        margin: 20px;
        color: #00000098;
    }
    &_button{
        @include button; 
    }
}

.Func{
    margin: $margin1;
    padding-bottom: 50px;
    padding-top: 20px;
    
    &_cardcontainer{
        display: flex;
        flex-direction: column;
        @media (min-width:768px){
            flex-direction: row;
            justify-content: space-around;
            margin-top: 25px;
        }
    }
    &_card{
        text-align: center;
        background-color: #fafafa;
        display: flex;
        padding: 30px;
        border-radius: 20px;
        box-shadow: $shadow1;
        align-items: center;
        position: relative;
        margin: 20px 0 20px 10px;
        @media (min-width:768px){
            margin: 0 20px;
            width: 30%;
        }
        h3{
            font-size: 18px;
        }
    }
    &_number{
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-primary;
        border-radius: 100px;
        color: white;
        position: absolute;
        left: -15px;
    }
    &_icon{
        padding-right: 20px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.473);
    }
}


.Restau{
    background-color: #fafafa;
    padding-bottom: 40px;

    a{
        position: relative;
    }

    h1{
        margin: $margin1;
        padding-top: 50px;
    }
    &_cardcontainer{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin: $margin1;
        @media (min-width:768px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &_card{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: $shadow1;
        @media (min-width:768px){
            width: 40%;
            max-width: 400px;
            margin: 15px;
        }
    }
    &_img{
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &_textcontainer{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 0 15px;
        height: 80px;
    }
    &_news{
        font-size: 17px;
        font-weight: 500;
        color: #1fa785;
        position: absolute;
        right: 10px;
        top: 15px;
        padding: 8px 15px;
        border-radius: 2px;
        background-color: $colour-tertiary;
    }
}


