.header_arrow{
    font-size: 25px;
    position: absolute;
    left: 20px;
}

.Restau_main{
    background-color: whitesmoke;
}

.Restaupage_img{
    width: 100%;
    min-height: 350px;
    max-height: 40px;
    object-fit: cover;
    
}

.Menu{



    &_titlecontainer{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
    }

    &_flex{
        @media (min-width:768px){
            display: flex;
            justify-content: space-between;
        }
    }

    &_bloc{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @media (min-width:768px){
            width: 30%;
        }
    }
    
    &_cardcontainer{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: relative;
        bottom: 50px;
        width: 100%;
        background-color: whitesmoke;
        padding: 20px;
    }
    &_title{
        color: black;
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        font-size: 28px;
        padding: 15px 0;
    }
    &_info{
        margin-top: 20px;
        font-weight: 400;
        position: relative;
        font-size: 15px;
        &::after{
            content:"";
            width: 50px;
            height: 3px;
            background-color: $colour-tertiary;
            position: absolute;
            bottom: -5px;
            left: 0px;
        }
    }



    &_check{
        background-color: $colour-tertiary;
        margin: 0px -75px 0px -10px;
        padding: 25px;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;

        &_icon{
            color: $colour-tertiary;
            padding: 5px;
            background-color: white;
            border-radius: 50px;
            margin-bottom: 7px;
            transform: rotate(-540deg);
            transition-duration: 0.5s;
        }
    }


    
    &_card{
        background-color: white;
        box-shadow: $shadow1;
        height: 75px;
        border-radius: 15px;
        animation: Menu--spawn .6s;
        animation-fill-mode: both;
        transform: scale(0);
        max-width: 100%;
        overflow: hidden;


        &:hover .Menu_check {
            margin-right: 0px;
        }

        &:hover .Menu_check_icon {
            transform: rotate(0);
        }
        
        &_info{
            display: flex;
            
            &_text{
                margin: 15px auto auto 15px ;
                overflow: hidden;
                white-space: nowrap;
                
                &_title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &_details{
                    font-size: 14px;
                    font-weight: 300;
                    padding-top: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }   
            }
            
            &_price{
                font-weight: 600;
                padding: 45px 35px 0 35px ;
            }
        }
    }
}

@for $i from 0 through $menunumber {
    .delay--#{$i} {
    animation-delay:  #{$i/5}s;
    }
}

.button_holder{
    text-align: center;
    background-color: whitesmoke;
    position: relative;
    padding-top: 50px;
    top: -50px;
}
.Menu_button{
    @include button;
    padding-right: 50px;
    padding-left: 50px;
}