@keyframes loader {
    100%{
        opacity: 0;
        z-index: -10;
    }
}


@keyframes appears {

    0%{
        opacity: 0;
    }


    20%{
        opacity: 1;
    }

    80%{
        opacity: 1;
    }


    100%{
        opacity: 0;
    }
    
}