$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$margin1: 25px;

$shadow1: 5px 5px 10px rgba(0, 0, 0, 0.25);

$num-item: 10;

$anim-dur: 200ms;

$anim-delay: 200ms;

$menunumber: 9;
